<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SexData</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="col-lg-6">
      <h1>{{hello}}</h1>
    </div>
    <div class="col-lg-6">
      <div class="input-group">
        <form action="/search/">
        <input type="text" class="form-control" placeholder="请输入关键词...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">搜索</button>
        </span>
        </from>
      </div>
    </div>
    <div>
      <a href="/signup">创建一个免费账户</a>
      <a href="/signin">登录</a>
    </div>
    <h2><a href="/actress">女优</a></h2>
    <h2><a href="/firm">片商</a></h2>
    <h2><a href="/sort">类别</a></h2>
    <h2><a href="/sale">优惠</a></h2>
    <h2><a href="/rank">排行</a></h2>
    <h2><a href="/api">API</a></h2>
    <a href="/qb">{{qb}}</a>
    <br/>
    <a href="/sa">{{sa}}</a>
    <br/>
    <a href="https://player.wejav.net/embed/cjFQSlFTaTVNLzEvMA">
      <img src="http://img01.yohoboys.com/spidercms/2017/05/31/09/ea42eb0f92fdff85fae51a8f931dedba149619547745592e21958c365.jpeg"
    </a>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="..." alt="...">
        </a>
      </div>
    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    <p>测试版本v1.0,<span style="color:pink;"><b>SexData</b></span>版权所有</p>
    <p>客服QQ:<span style="color:pink;"><b>344401468</b></span></p>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>

